@import "../sass/variable.scss";

* {
  font-family: $font_base;
}

.profile {
  width     : auto;
  transition: 0.3s;
  padding   : 10px 0px;

  .ant-tabs-nav-wrap {
    display: none;
  }
  
  .ant-tabs-bar {
    margin: 0;
  }

  .candicate-info {
    position: relative;
    right   : 0px;
    top     : 0px;
  }

  span {
    cursor: pointer;
  }

  .profile-info {
    width: 60%;
  }

  .icon-fix {
    position : relative;
    float    : right;
    top      : -50px;
    right    : 30px;
    padding  : 5px 10px;
    font-size: 16px;

    &:hover {
      span {
        font-size : 18;
        transition: 0.3s;
      }
    }

    span {
      &:hover {
        font-size: 18;
        cursor   : pointer;
      }
    }
  }

  i {
    &:hover {
      cursor: pointer;
    }
  }

  .fa-plus {
    color: rgb(0, 195, 255);
  }

  .nav-tabs {
    border-bottom: 0px;
  }
}