.login-content {
    display: flex;
    width: 100%;
    text-align: center;
  
    .title{
      padding: 30px 0 0 !important;
    }
    
    .login-form {
      margin: 50px 5px;
      // height: 450px;
      background-color: white;
      // max-width: 400px;
      padding-bottom: 14px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
      .nomal {
        font-weight: 500;
        margin: 30px 0px;
      }
  
      .forgot-password {
        a {
          position: absolute;
          right: 0px;
        }
      }
  
      p {
        padding: 0px 20px;
      }
  
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
.swal-button swal-button--confirm {
    display: none !important;
  }

.swal-button-container{
  display: none;
}