.article-detail {
  padding: 0 3vw 0 3vw;
  .article-detail-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 0 3vh 0;
    div {
      margin: 10px 20px 0 0;
      font-weight: bold;
      font-size: 15px;
      color: "#5294E2" !important;
    }
    svg {
      margin: 0 5px;
    }
  }
  .anticon {
    &:hover {
      color: blue;
    }
  }
  
  .content {
    background-color: white;
    padding: 0;

    .title {
      font-weight: bold;
      font-size: 25px;
      text-align: justify;
    }
  }

  .comment {
    .rating-cmt {
      display: inline-flex;
      .ant-rate {
        margin: 3px 15px;
        font-size: 15px;
      }
      svg {
        margin-bottom: 12px;
      }
    }
  }
  .list-comment {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0px;
    border-left: solid rgb(158, 209, 236) 2px;

    &:hover {
      border-left: solid #168ecd 2px;
    }
    vertical-align: bottom;

    .img-cmt {
      width: 40px;
      margin: 0 10px;
    }

    .comment-msg {
      margin-top: 5px;
      text-align: justify;
      font-size: 1rem;
      border-radius: 10px;
    }
  }
}

.article-detail-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
