@import "../sass/variable";


.history-content {
  height: auto;
  padding: 15px 25px;
  background-color: white;
  margin-top: 10px;
  h5 {
    font-weight: 350;
  }
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);

  a {
    text-transform: capitalize;
  }
  
  .history-job {
    .job-detail {
      height: auto;
      min-height: 210px;
      margin: 5px;
      display: flex;
      padding: 5px 10px;
      min-height: 260px;
      &:hover {
        background-color: azure;
      }

      li{
        :hover{
          cursor: pointer;
        }
      }

      .image-job {
        position: relative;
        flex-direction: column;
        align-items: center;
        display: flex;
        img{
          object-fit: contain;
        }
        .logo-company {
          position: relative;
          padding: 2px;
          height: 85px;
          width: 85px;
          // border: solid $color_border 2px;
        }

        .job-state {
          position: absolute;
          top: 60px;
          left: 60px;
        }
      }

      .content-job {
        padding: 5px 5px 5px 10px;
        // width: calc(100% -115px);
        // min-height: 200px;

        p {
          font-size: 1rem;
          font-family: $font_base;
          margin-bottom: 10px;
          font-weight: 500;

          a {
            color: rgba(0, 0, 0, 0.734);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      li {
        list-style: none;
        padding: 5px 2px;
      }
    }
  }
}
