.chat-page {
  display: block;
  height: calc(100vh - 120px);

  .chat-page-content {
    transition: 0.5s;
  }

  .content-chat {
    height: calc(100vh - 130px);
    padding: 0px !important;
  }
}

.footer-msg {
  line-height: 70px;
  text-align: center;
  width: 100%;
  background-color: #296ea7;
  color: whitesmoke;

  span {
    float: center;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .chat-page {
    width: 100vw;
    overflow: hidden;

    .chat-page-content {
      width: 210vw;

      .content-chat-page {
        display: flex;
        width: 200vw;
        padding: 5px;

        .chat-bar {
          width: calc(100vw - 5px);
          margin-right: 5px;
        }

        .chat-board {
          width: calc(100vw - 5px);
          margin-left: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .chat-page {
    overflow: hidden;

    .chat-page-content {
      padding: 0px 0px;
      width: 100vw;

      .content-chat-page {
        display: flex;

        .chat-bar {
          width: 20%;
        }

        .chat-board{
          width: 80%;
        }
      }
    }
  }
}
