.text-inner {
  text-align: left;
  background-color: #F5F5F5;
  margin: 0px 10px 20px 10px;
  p {
    font-size: 17px;
    margin: 0px;
    color: white;
    display: inline-block;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, sans-serif;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgb(0, 192, 243);
    padding: 8px 25px 8px 20px !important;
  }
}
