.login-content {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: white;
  .login-form {
    padding: 20% 15% 0px;
    .btn-login {
      background-color: '#31a3f9';
      height: 40px;
    }
  }
  .nomal {
    height: 60px;
    input {
      height: 40px;
    }
  }
  .image-login{
    width: 100%;
    height: auto;
    border-radius: -5px;
    position: relative;
  }
  b {
    cursor: pointer;
    text-decoration: underline;
  }
}
