.login-content {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  

  .login-form {
    padding: 60px 20px;
    margin: 10px 10px 0px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
    .btn-login {
      background-color: '#31a3f9';
      height: 40px;
    }
  }

  .image-login{
    height: 100vh;
    object-fit: cover;
    border-radius: -5px;
    position: relative;
  }
  b {
    cursor: pointer;
    text-decoration: underline;
  }
}
