@import "../../sass/variable";

.announcements {
  font-family     : $font_base;
  background-color: white;
  border-radius   : 1px;
  margin          : 20px 0px;
  padding         : 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  .title_card{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: inherit;
  }
  .data_card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-transform: inherit;
  }
  .ant-card-meta-description{
    min-height: 179px;
  }
  a {
    color: gray;

    &:hover {
      text-decoration: underline;
      color          : #168ECD
    }
  }

  .ant-carousel .slick-slide {
    text-align : center;
    height     : 160px;
    line-height: 160px;
    overflow   : hidden;
  }

  .ant-carousel .slick-slide h3 {
    color: rgb(14, 14, 14);
  }


  h5 {
    margin    : 10px 0px !important;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px 0 20px;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin : 2vh 0px;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width        : 70px;
      height       : 70px;
      line-height  : 40px;
      border-radius: 17px !important;
    }

    &:hover {
      transition: 0.5s;
    }

    .img-job {
      img {
        height       : 100px;
        width        : 100px;
        border-radius: 17px;
      }
    }

    .job-content {
      max-height: 80px;
      width     : 100% -70px;
      padding   : 0px 10px;

      a {
        text-transform: lowercase;
      }

      a::first-letter {
        text-transform: uppercase;
      }

      li {
        padding  : 5px 2px;
        font-size: 0.8rem;
      }
    }
  }
}
img {
  object-fit: cover
}
