.all-noti-content {
  background-color: white;
  padding: 15px 25px;
  margin: 10px 0px;

  .noti-header {
    padding: 0px 10px;

    h5 {
      margin: 20px 0px;
      font-weight: 600;
    }
  }

  .list-content {
    height: auto;
    overflow-y: auto;
    margin-bottom: 5px;

    .li-noti {
      display: flex;
      width: 100%;
      background-color: white;
      position: relative;
      padding: 10px 5px;

      .li-noti__div {
        position: relative;
        text-align: center;
        width: 100px;
      }

      .data-noti {
        width: 100%;
        &:hover {
          cursor: pointer;
        }

        ul {
          margin-bottom: 0px;
        }

        li {
          line-height: 10px;
          padding: 2px;
        }
      }
      .set-noti {
        float: right;

        i {
          margin: 5px;
        }
      }
    }

    .seen {
      background-color: azure;
      &:hover {
        background: rgb(206, 255, 255);
      }
    }

    .not-seen {
      background-color: rgb(255, 255, 255);
      &:hover {
        background: rgba(185, 185, 185, 0.143);
      }
    }
  }

  .pagination-result {
    text-align: center;
    li {
      padding: 0px;
      width: 5px;
    }

    .ant-pagination {
      margin: 10px 0px;
    }

    .ant-pagination-item-active {
      background-color: rgb(0, 132, 255);
      color: white !important;
    }
  }
}
