.article-detail {
  padding: 10px;
  .article-detail-header {
    width: 100%;
    display: inline-flex;
    padding: 5vh 0 3vh 0;
    
    .ant-avatar{
      width: 50px;
      height: 50px;
    }
    div {
      margin: auto 15px;
      font-weight: bold;
      font-size: 15px;
      color: '#5294E2' !important;
    }
    svg {
      margin: 0 5px;
    }
  }
  .content {
    background-color: white;
    padding: 0px;
    .title {
      font-weight: bold;
      font-size: 25px;
      text-align: justify;
    }
  }

  .comment {
    .rating-cmt {
      display: inline-flex;
      .ant-rate {
        margin: 0px 15px;
      }
      svg {
        margin-bottom: 12px;
      }
    }
  }
  .list-comment {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 20px 10px;
    margin: 10px 0px;
    border-left: solid rgb(158, 209, 236) 2px;

    &:hover {
      border-left: solid #168ecd 2px;
    }
    vertical-align: bottom;

    .img-cmt {
      width: 40px;
      margin: 0 10px;
    }

    .comment-msg {
      margin-top: 5px;

      font-size: 1rem;
      border-radius: 10px;
    }
  }
}
