@import "../../../sass/variable";

.home-job {
  font-family: $font_base;
  background-color: white;
  margin: 30px 0px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.03);

  h4 {
    margin: 10px 0px !important;
    text-align: center;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0px;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .h-j-item {
    display: flex;
    // padding      : 1vw 0;
    margin: 0.2vw 1vw;
    height: auto;
    border-bottom: dashed $color_border 1px;

    a {
      color: #5d5d5d;

      &:hover {
        color: #168ecd;
      }
    }

    .time-left {
      text-align: left;
      font-size: 0.7rem;
      font-style: italic;
    }

    &:hover {
      transition: 0.5s;
    }

    .job-content {
      max-height: 80px;
      width: 100%;
      padding: 0px 10px;

      a {
        text-transform: lowercase;
      }

      h6 {
        font-size: 1.1em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      .j-d {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }

      li {
        padding: 5px 2px;
      }
    }
  }
}
