@import "../../../sass/variable";

.top-job {
  font-family: $font_base;
  background-color: $color_background;
  padding: 10px;

  h4 {
    margin: 10px 0 !important;
    text-align: center;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .h-j-item-top {
    &:hover {
      background-color: #e1ecf4;
    }
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 110px !important;
    border-radius: 5px;
    background-color: white;

    .img-job {
      text-align: center;
      width: 88px;
      padding: 8px;

      img {
        width: 72px;
        height: 72px;
        border-radius: 8px;
        border: 1px solid $color_border;
      }
    }

    a {
      color: #5d5d5d;

      &:hover {
        color: #168ecd;
      }
    }

    .region {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary-label {
      color: red;
    }

    .top-badge {
      text-transform: uppercase;
      color: white;
      background-color: red;
      border-radius: 3px;
      padding-right: 4px;
      padding-left: 4px
    }


    &:hover {
      transition: 0.5s;
    }

    .job-content {
      width: 100%;
      padding-top: 8px;
      padding-right: 8px;

      a {
        text-transform: lowercase;
      }

      h6 {
        font-size: 0.95em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      .name_employer {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: initial;
        font-size: 0.8em;
      }

      .j-d {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
        .l_c {
          margin-top: 3px;
          line-height: 20px;
          text-align: left;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-transform: initial;
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
