@import "../../../sass/variable";

.home-job {
  font-family: $font_base;
  background-color: #f2f2f2;
  padding: 10px;

  h4 {
    margin: 10px 0px !important;
    text-align: center;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0px;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .h-j-item {
    &:hover {
      background-color: #e1ecf4;
    }
    display: flex;
    margin: 0.2vw 10px;
    height: 130px !important;
    border-bottom: dashed $color_border 1px;
    border-radius: 7px;
    background-color: white;
    margin-top: 10px;

    //tag
    @function sqrt($r) {
      $x0: 1;
      $x1: $x0;
      @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
      }
      @return $x1;
    }

    $cornerwidth: 60px;

    .c-corner-label {
      position: absolute;
      right: 10px;
      margin-top: 70px;
      border-style: solid;
      border-color: transparent #ee1c25 transparent transparent;
      border-color: rgba(255, 255, 255, 0) #e43636 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
      height: 0;
      width: 0;
      border-width: 0 $cornerwidth $cornerwidth 0;
      -webkit-transform: rotate(90deg);
      @media (min-width: 0px) and (max-width: 500px) {
        top: 11px;
        right: 5px;
      }
      @media (min-width: 600px) and (max-width: 800px) {
        height: 0;
        width: 0;
      }
    }
    .c-corner-label__text {
      color: #eee;
      font-size: $cornerwidth/5;
      font-weight: bold;
      position: relative;
      left: -$cornerwidth * 0.06;
      top: $cornerwidth * 0.1;
      white-space: nowrap;
      transform: rotate(45deg);
      width: $cornerwidth * sqrt(2);
      text-align: center;
      line-height: 2em;
      -webkit-transform: rotate(225deg);
    }
    a {
      color: #5d5d5d;

      &:hover {
        color: #168ecd;
      }
    }

    .time-left {
      text-align: left;
      font-size: 0.7rem;
      font-style: italic;
    }

    &:hover {
      transition: 0.5s;
    }

    .job-content {
      max-height: 80px;
      width: 100%;
      padding: 0px 10px;

      a {
        text-transform: lowercase;
      }

      h6 {
        font-size: 1.1em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      .j-d {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }

      li {
        padding: 2px 2px;
      }
    }
  }
}
