@import "../../../sass/variable";

.popup-noti {
  .noti-image {
    text-align      : center;
    padding         : 20px 0px;
    background-color: rgba(86, 221, 255, 0.294);

    img {
      height: 100px;
      width : 100px;
    }
  }

  p {
    font-family: $font_base;
  }
}

.notification-mobile {
  background: white;
  width     : 100vw;
  height    : 100vh;
  font-size : 0.8rem;
  position  : fixed;
  right     : 0px;
  z-index   : 4;
  transition: 0.5s;

  .noti-content {
    position        : relative;
    background-color: white;
    z-index         : 999;

    .noti-header {
      padding    : 5px 10px;
      text-align : center;
      font-weight: 600;

      h6 {
        margin: 10px 0px;
      }
    }

    .noti-info {
      padding      : 5px 5px;
      height       : calc(100vh - 195px) !important;
      overflow-y   : auto;
      margin-bottom: 5px;

      &::-webkit-scrollbar {
        width        : 4px;
        transition   : 0.5s;
        border-radius: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .li-info {
        padding: 5px 5px;
        display: flex;

        .img-logo-noti {
          margin : 0px 15px;
          padding: 12px 0px;
        }

        .data-noti {
          padding: 10px 0px;

          &:hover {
            cursor: pointer;
          }
        }

        .view-noti {
          .v-l {
            &:hover {
              cursor         : pointer;
              text-decoration: underline;
            }
          }
        }

        ul {
          list-style: none;

          li {
            padding: 0px;
          }
        }
      }

      .noti-item-img {
        width : 60px;
        height: 60px;
        margin: 0px 10px;
      }
    }

    .noti-footer {
      height: auto;

      p {
        margin : 8px 10px;
        padding: 0px 5px;

        a {
          color      : rgba(0, 0, 0, 0.65);
          line-height: 20px;

          &:hover {
            text-decoration: underline;
          }
        }

        .all-state {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.ant-popover-inner-content {
  padding: 0
}

.notification {
  background: white;
  font-size : 0.8rem;
  width     : 300px;
  z-index   : 4;

  .noti-content {
    position        : relative;
    background-color: white;
    z-index         : 999;

    .noti-header {
      padding    : 5px 10px;
      text-align : center;
      font-weight: 600;

      h6 {
        margin: 10px 0px;
      }
    }

    .noti-info {
      padding      : 5px 0px;
      height       : 330px;
      overflow-y   : auto;
      margin-bottom: 5px;

      &::-webkit-scrollbar {
        width        : 4px;
        transition   : 0.5s;
        border-radius: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .li-info {
        padding: 5px 0px;
        display: flex;

        .img-logo-noti {
          margin : 0px 15px;
          padding: 12px 0px;
        }

        .data-noti {
          &:hover {
            cursor: pointer;
          }
        }

        .view-noti {
          .v-l {
            &:hover {
              cursor: pointer;
            }
          }
        }

        ul {
          list-style: none;

          li {
            padding: 0px;
          }
        }
      }

      .noti-item-img {
        width : 60px;
        height: 60px;
        margin: 0px 10px;
      }
    }

    .noti-footer {
      height: 25px;

      p {
        margin : 8px 10px;
        padding: 0px 5px;

        a {
          color      : rgba(0, 0, 0, 0.65);
          line-height: 20px;

          &:hover {
            text-decoration: underline;
          }
        }

        .all-state {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.none-data {
  height  : 100%;
  position: relative;

  p {
    text-align : center;
    line-height: 100%;
  }
}