.register {
  // height: 650px;
  width: 100%;
  margin: 20px 0 50px;
  background-color: white;
  display: block;
  padding: 5% 5% 0px;
  .title_register{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px
  }
  .normal {
    font-weight: 500;
    margin: 15px 0px;
    padding: 0px 20px;
    .fogot-password {
      margin-bottom: 25px;
    }
  }
  .normal_2 {
    font-weight: 500;
    margin: 10px 0px;
  }

  .forgot-password {
    float: right;
  }

 
  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .name {
    padding: 10px;
    margin: 10px 0px 0px 0px;
  }

  .row-name{
    display: inline-flex;
    padding: 10px;
  }

  .or {
    text-align: center;
  }
}
.image-login{
  width: 100%;
  height: auto;
  border-radius: -5px;
  position: relative;
}
.ant-modal-content{
  width: 600px;
  height: 640px;
  .ant-modal-body{
    height: 530px;
  }
}
.ant-calendar-year-panel-last-decade-cell {
  color: #afafaf
}
.ant-calendar-year-panel-next-decade-cell {
  color: #afafaf
}
.ant-calendar-year-panel-selected-cell {
  color: #fff
}