.carousel-controller {
  position        : absolute;
  height          : 500px !important;
  width           : 400px;
  color           : blue;
  z-index         : 0;
  top             : 50px;
  margin-bottom   : 326px;
  background-color: green;

  .ant-carousel {
    position        : fixed;
    top             : 100px;
    z-index         : 100;
    height          : 500px !important;
    background-color: aquamarine !important;

    .slick-slide {
      img {
        width: 100%;
      }
    }
  }
}