.search-area {
  font-weight: 500;
  .search-box-phone {
    z-index: 1;
    padding: 20px 10px;
    border-radius: 5px;
    // background-color: whitesmoke;

    //Tabs Select
    .ant-tabs {
      background-color: white;
      margin: 20px 0px;

      .ant-tabs-tab {
        margin-right: 10px;
      }
      // choose day
      .choose-day {
        height: auto;
        padding: 10px 5px;

        button {
          border-radius: 50%;
          padding: 5px;
          width: 35px;
          height: 35px;
          margin: 5px;
        }
      }

      .choose-shift {
        margin: 10px 0px;
        button {
          margin: 0px 5px;
          text-align: center;
          font-weight: 400;
          
        }
      }
    }

    .location-address {
      margin: 5px 0px 10px 0px;
      i {
        z-index: 0;
      }
    }

    .find-area {
      margin: 10px 0px;
    }
  }

  .search-box {
    transition: 0.5s;
    background-color: rgba(32, 32, 32, 0.658);
    .ant-select-selection__rendered {
      line-height: 50px;
      font-weight: 500;
    }

    .ant-select-selection--single {
      height: 50px;
    }
    .ant-btn-lg {
      height: 50px;
    }
    // padding: 20px 8vw;
    height: auto;
    text-align: center;
    font-family: IBMPlexSanLights;
    
    .ant-tabs-ink-bar-animated {
      height: 2.8px;
      background-color: white;
    }
    .ant-tabs-bar {
      // margin: 0 0 1px 0;
      border-color:  #ffffff00;
      transition: 0.3s;
      border-width: 1;
      .ant-tabs-nav-wrap{
        transition: 0.5sf;
      }
    
    }

    .ant-tabs-tab[aria-selected="false"]:hover{
      transition: 10000000000000000s;
    }
    .ant-tabs-tab{
      &:hover {
        border-radius: 5px;
      }
    }
    //Location-address
    .location-address {
      position: relative;
      width: auto;
      padding: 20px 0px;

      span {
        transition: 0.2s;
      }

      button {
        float: left;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    // Search-type
    .search-type {
      transition: 0.5s;
      .ant-btn {
        padding: 0px 5px;
      }
    }

    // Choose Time
    .advanced {
      height: 50px;
      position: relative;
      right: 0px;
      color: whitesmoke;
      margin: 10px 0px;

      .btn-advanced {
        border-radius: 5px;
        float: right;
        padding: 7px;
        margin-right: 2%;
        font-size: 1rem;
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0);
        border: solid whitesmoke 1px;
      }
    }

    .choose-time {
      .choose-shift {
        margin: 5px 0px;

        button {
          width: 85px;
          height: 45px;
          padding: 0px;
          margin: 10px 20px;
          text-align: center;
          // border-radius: 50%;
          font-weight: 400;
          // border: solid 1px rgb(24, 144, 255);
          &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          } 
        }
      }

      .choose-day {
        button {
          margin: 2px 8px;
          border-radius: 50%;
          width: 52px;
          height: 52px;
          padding: 0;
          // border: solid 1px rgb(24, 144, 255);  
          &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
          }        
        }
      }
    }

    .ant-tabs-nav {
      color: #fff;
      font-weight: 400;
      // font-size: 1.1em;
      &:hover {
       
        // color: #fff !important;
      }
      .ant-tabs-tab[aria-selected="true"]:hover {
        font-weight: 650;
      }
      .ant-tabs-tab[aria-selected="false"]:hover {
        color: #fff;
        // font-weight: 600;
        font-size: 1.07em;
        // text-shadow: 0px 0px 10px #000;
      }
      
    }
    .ant-tabs-tab-active {
      color: #fff;
      font-weight: 650;
      font-size: 1.07em;
    }
  }

  //Find Button
  .find-now {
    margin-top: 30px;
  }

  .choose-area {
    width: 100%;
    height: 400px !important;
  }

  .ant-modal-body {
    height: auto;
  }
}

@media screen and (max-width: 1023px) {
  .ant-tabs-bar {
    margin: 0 0 1px 0;
  }
}

@media screen and (min-width: 1024px) {
  .ant-tabs-bar {
    margin: 0 50px 1px 50px;
  }
}

.search-area .search-box{
  height: 65vh;
}