.tag-ability {
  background-color: #31a3f9;
  padding: 5px 15px;
  color: #fff;
  border-radius: 15px;

  i {
    position: relative;
    top: -3px;
    right: -32px;
  }
}

label{
    margin: 5px 8px;
    list-style: none;
}
