.tag-education {
  background-color: #efefef;
  padding         : 3px 10px;
  color           : rgb(68, 68, 68);
  border-radius   : 10px;

  &:hover {
    box-shadow: rgba(71, 71, 71, 0.2) 0px 0px 5px 0px;
  }
  
  i {
    position: relative;
    top     : -3px;
    right   : -32px;
  }
}

label {
  margin    : 5px 5px;
  list-style: none;
}