.employer-rating_popup {
  text-align: center;
  font-size: 1rem;

  .employer-rating_value {
    margin-bottom: 10px;
  }
  p {
    margin: 0px;
  }

  textarea {
    &:placeholder-shown {
      font-style: italic;
    }
  }
}

.rating{
  i {
    margin-right: 5px;
  }
  svg{
    margin-bottom: 1.5px;
  }
}
.ant-rate-star {
  margin: 0 2px;
}
.info-silimar-job{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: inherit;
}