.toggle-button{
    display: inline-flex;
    margin: 10px 0px;
    .toggle-wrapper{
        background-color: rgb(9, 209, 9);
        border: solid rgb(9, 209, 9) 1px;
        border-radius: 15px;
        width: 25px;
        height: 16px;
        margin: 5px;
        display: flex;

        .toggle-state{
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: whitesmoke;
        }

        .toggle-range{
            height: 100%;
            transition: 0.3s;
        }
    }
}


// .history-content .history-job
// .job-detail a{
//     -webkit-line-clamp: 1 !important;
// }
