@import "../../sass/variable";

.top-rm {
  font-family: $font_base;
  background-color: white;
  // box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  text-align: center;
  margin: 20px 0;
  padding: 10px;

  h5 {
    margin-top: 10px;
    padding: 20px 0 10px;
    font-size: 1.5rem;
  }

  .h-j-item {
    padding: 10px;
    margin: 1vw 1.4vw;
    min-height: 160px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transition: 0.5s;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .img-job {
      img {
        height: 70px;
        width: 70px;
        border-radius: 17px;
      }
    }

    .job-content {
      max-height: 80px;
      width: 100% -70px;
      padding: 0px 10px;
      
      a {
        text-transform: lowercase;
      }

      a::first-letter{
        text-transform: uppercase;
      }

      li {
        padding: 5px 2px;
        font-size: 0.8rem;
      }

    }
  }
}
