.language-skills {
  display: block;
  label {
    padding: 0px 10px;
    margin: 10px 0px !important;
  }


  #language-name {
    font-weight: 600;
  }

  .ant-card-grid{
    width: 100%!important;
  }
}
