// tablet
$color_font_header: #4e4e4e;
$color_font_base: rgba(0, 0, 0, 0.65);
$color_base: #1890ff;
$color_background: #fafafa;
// font-family

$font_root: "Roboto", sans-serif;

// font size

$font_size_base: 14px;
$font_size_small: 12px;
$font_size_medium: 16px;
$font_size_above_medium: 20px;
$font_size_large: 28px;
$font_super_small: 8px;

$color_border: rgb(231, 231, 231);

@media (min-width: 768px) and (max-width: 1060px) {
  .content {
    padding: 10px 30px;
  }

  .search-box {
    padding: 3vw 30px;
  }
  
  .search-tab {
    padding: 10px 30px;
  }

  .content-footer {
    padding: 5px 20px;
  }

  .direct-page {
    display: none;
  }

  .wrapper {
    padding: 20px 25px;
  }

  .block-header {
    padding: 20px 25px;
  }

  .image-content {
    padding: 25% 1vw;
  }
}

// phone
@media (min-width: 0px) and (max-width: 767px) {
  .content-footer {
    padding: 2px 10px;
  }

  .direct-page {
    display: none;
  }

  .label-login {
    display: none;
  }

  .wrapper {
    padding: 20px 10px;
  }

  fillset {
    padding: 20px 10px;
  }

  .block-header {
    padding: 20px 10px;
  }

  .image-content {
    padding: 6vw 0%;
  }

  // .filter-name-job {
  //   padding: 1vw;
  // }
}

// desktop
@media only screen and (min-width: 1061px) {
  .content {
    padding: 0px 12.5vw;
  }
  .content-profile {
    padding: 0px 8vw;
    background-color: #f2f2f2;

  }

  .search-tab {
    padding: 0px 12.5vw;
  }
  // .search-content {
  //   padding: 0px 20%;
  // }
  .search-box {
    padding: 5vw 10vw;
  }
  .top-job {
    margin: 0 -20vw;
    padding: 2vw 15vw;
  }

  // .filter-name-job {
  //   margin: 0 -20vw;
  //   padding: 1vw 20vw!important;
  // }
  .home-job {
    margin-right: -17vw;
    margin-left: -17vw;
    padding: 15px 15vw 30px;
  }
  .content-footer {
    padding: 10vh 12.5vw;
  }
  .hidden-mobile {
    display: block;
  }

  .show-mobile {
    display: none;
  }

  .candicate-info {
    display: none;
  }

  // .search-content {
  //   padding:0 10vw;
  // }

  .wrapper {
    padding: 15px 40px;
  }

  fillset {
    padding: 15px 40px;
  }

  .block-header {
    padding: 20px 30px;
  }

  .image-content {
    padding: 15% 10%;
  }
}

//
@media (min-width: 0px) and (max-width: 961px) {
  .hidden-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .detail-job {
    border-bottom: solid $color_border 1px;
  }
}
h5 {
  font-size: 1.3rem !important;
  font-weight: 800;
}

// for phone
@media (min-width: 0px) and (max-width: 560px) {
  .show-only-phone {
    display: visible !important;
  }

  .hidden-only-phone {
    display: none !important;
  }

  [class*="col-"] {
    padding: 0px !important;
  }
}

@media only screen and (min-width: 560px) {
  .show-only-phone {
    display: none !important;
  }

  .hidden-only-phone {
    display: visible !important;
  }
}
