.top-branch {
    background-color: #f7f7f7;
    scroll-behavior: smooth;
    .branch-item {
        background-color: white;
        &:hover {
            background-color: #e1ecf4;
        }
        margin: 10px;
        box-shadow: 0px 2px 18px rgba(205, 205, 205, 0.5);
        border-radius: 10.4528px;
        padding: 30px 0;
        height: 80;
        text-overflow: ellipsis;

        .image-branch {
            width: 40%;
            height: 90%;
        }
        .branch {
            display: inline;
        }
        .name-branch {
            text-align: center;
            margin: 0 15px;
            font-weight: bold;
            font-size: 16px;
            margin-top: 15px;
            max-lines: 2 !important;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }
}
