@import "../../sass/variable";

.top-job {
  font-family: $font_base;
  background-color: $color_background;
  padding: 10px;
  margin-bottom: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  position: relative;

  h5 {
    margin: 10px 0 !important;
    text-align: center;
    padding: 15px 0 25px;
    font-weight: 400;
  }

  .ant-skeleton {
    padding: 10px 8vw;
    margin: 2vh 0;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 72px;
      height: 72px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .h-j-item {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 116px !important;
    border-radius: 5px;
    border: rgba(255, 255, 255, 0) solid 1px;
    background-color: #ffffff;
    position: relative;

    &:hover {
      background-color: rgba(223, 243, 255, 0.691);
      // border: $color_border solid 1px;\
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .img-job {
      text-align: center;
      width: 90px;
      padding: 10px;

      img {
        width: 72px;
        height: 72px;
        border-radius: 8px;
        border: 1px solid $color_border;
      }
    }

    a {
      color: #5d5d5d;
      text-transform: capitalize;

      &:hover {
        color: #168ecd;
      }
    }

    .region {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary-label {
      color: red;
    }


    .job-content {
      width: 100%;
      padding-top: 10px;
      padding-right: 10px;

      a {
        text-transform: lowercase;
      }

      h6 {
        font-size: 0.95em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      .name_employer {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: inherit;
      }

      .j-d {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
        .l_c {
          text-align: left;
          text-overflow: ellipsis;
          text-transform: initial;
          line-height: 18px;
          text-transform: capitalize;
          position: relative;
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
