@import "../../../sass/variable";

.home-job {
  font-family: $font_base;
  padding: 10px;
  margin-bottom: 10px;

  b h5 {
    margin: 10px 0 !important;
    text-align: center;
    padding: 15px 0 25px;
  }

  h5 {
    font-weight: 400;
  }

  .ant-skeleton {
    padding: 10px 5vw;
    margin: 2vh 0;

    .ant-skeleton-header .ant-skeleton-avatar-lg {
      width: 70px;
      height: 70px;
      line-height: 40px;
      border-radius: 17px !important;
    }
  }

  .ant-pagination-item-active {
    background-color: #1d85c7;
    color: white !important;
    a {
      color: white;
    }
  }

  .h-j-item-home {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 110px !important;
    border-radius: 5px;
    background-color: white;
    &:hover {
      background-color: #e1ecf4;
    }
    .img-job {
      text-align: center;
      width: 88px;
      padding: 8px;

      img {
        width: 72px;
        height: 72px;
        border-radius: 8px;
        border: 1px solid $color_border;
      }
    }
    a {
      color: #5d5d5d;

      &:hover {
        color: #168ecd;
      }
    }

    .region {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary {
      text-align: left;
      font-size: 0.8rem;
    }

    .salary-label {
      color: red;
    }

    &:hover {
      transition: 0.5s;
    }

    .job-content {
      width: 100%;
      padding-top: 8px;
      padding-right: 8px;

      a {
        text-transform: lowercase;
      }

      h6 {
        font-size: 0.95em;

        &:hover {
          color: rgb(0, 84, 136) !important;
        }
      }

      .name_employer {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: inherit;
      }
      .j-d {
        &:hover {
          color: rgba(46, 158, 255, 0.85) !important;
        }
        .l_c {
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          text-transform: initial;
        }
      }

      a::first-letter {
        text-transform: uppercase;
      }
    }
  }
}