.header {
  position: relative;
  z-index: 1;
  width: 100%;
  // background         : linear-gradient(to right, $color_base, rgb(216, 216, 216));
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 3px rgba(0,0,0,.1);
  font-weight: 600;
  // border-bottom   : 1px solid $color_border;
  // box-shadow      : 0 0 8px 0 rgba(0,0,0,.3);

  .triagle-up {
    position: absolute;
    bottom: -1px;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
  }

  .triagle-shadow {
    position: absolute;
    bottom: 0px;
    bottom: -1px;
    z-index: 0;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #252525;
  }

  .search_box_container {
    position: absolute;
    left: 25%;
  }

  .logo {
    position: relative;
    top: -2px;
    width: 40px;
    height: 40px;
  }

  .direct-page {
    position: absolute;
    left: 13%;
    font-weight: 550;
    font-size: 0.93rem;

    a {
      color: rgb(255, 255, 255);
      height: 100%;
      padding: 20px;
      font-size: 0.93rem;
      font-weight: 500;
      // background-color: rgb(214, 214, 214);

      &:hover {
        background-color: rgba(184, 216, 255, 0.367);
        // border-bottom: solid rgb(226, 226, 226) 1px;

        // color        : rgba(255, 255, 255, 0.639);
      }
    }
    i {
      margin-right: 5px;
    }
    svg[data-icon="bank"] {
      margin-bottom: 0.5px;
    }
    svg[data-icon="apple"] {
      margin-bottom: 0.65px;
    }
    svg[data-icon="calculator"] {
      margin-bottom: 1px;
      height: 2.5vh;
      width: 2vw;
    }
  }

  // Function Link
  .function {
    display: flex;
    width: auto;
    height: 100%;
    margin: 0px;

    // MenuProfile
    .label-function {
      padding: 5px 13px;
      font-size: 20px;
      position: relative;
      width: auto;
      color: white;
      margin: 8px;
      border-radius: 50%;
      background-color: rgba(245, 245, 245, 0.15);
      cursor: pointer;

      &:hover {
        // background-color: #00000014;
        background-color: rgba(184, 216, 255, 0.367);
      }
      a {
        color: white;
      }

      svg[data-icon="bell"] {
        margin-bottom: 0.65px;
      }

      .label_name {
        color: white;
        font-size: 0.93rem;
        font-weight: 400!important;
        padding: 0px 10px;
        font-style: italic;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      img {
        border: solid white 2px;
        border-radius: 50%;
      }
    }

    //choosed noti
    .ant-popover-open {
      background-color: rgba(184, 216, 255, 0.367);
    }

    #borderLeft {
      border-left: 2px solid gray;
      position: absolute;
      height: 30px;
      top: 15px;
      right: 0px;
    }
    // Login Logout Register
    .label-login {
      font-size: 15px;
      padding  : 10px;
      label {
        color: #ffffff;
        font-weight: 400;
        border-radius: 5px;
        margin-top: 0px;
        &:hover {
          // color          : #f2f2f2;
          background-color: rgba(184, 216, 255, 0.367);
          text-decoration: underline;
          cursor: pointer;
        }
        padding: 8px;
        font-size: 0.9pc;
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  #profile-function {
    display: none;
  }

  .function {
    margin-right: 60px;
  }
}
.ant-badge-multiple-words {
  padding: 0px 2px 0 0px;
}
.ant-popover-inner {
  margin-right: 20px !important;
}
.employer {
  background-color: #0e7ccd;
}
