@import "../../sass/variable";

.box-block {
  background: #fff;
  margin-bottom: 15px;
  // border: solid $color_border 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  width: 100%;
  min-width: 300px;
  margin-bottom: 15px;
  p {
    margin: 0px;
  }

  pre {
    font-size: 0.7 rem !important;
  }

  &.fixed {
    min-width: 0;
    padding: 10px;
    p {
      margin-bottom: 10px;
    }
  }

  .block-header {
    border-bottom: dashed #b3b3b3 1px;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: IBMPlexSanLights;
    p {
      margin: 0 0;
    }
  }

  .effect {
    transition: opacity 2s;
  }

  .effect .complete {
    opacity: 1;
  }

  .anticon {
    top: 50%;
  }

  .nav-tabs {
    border-bottom: 1px solid #ddd0;
  }
}
