.search-area {
  font-weight: 700;
  .search-box-phone {
    z-index: 1;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: whitesmoke;

    //Tabs Select
    .ant-tabs {
      background-color: white;
      margin: 20px 0px;

      .ant-tabs-tab {
        margin-right: 10px;
      }
      // choose day
      .choose-day {
        height: auto;
        padding: 10px 5px;

        button {
          border-radius: 50%;
          padding: 5px;
          width: 35px;
          height: 35px;
          margin: 5px;
        }
      }

      .choose-shift {
        margin: 10px 0px;
        button {
          margin: 0px 5px;
          text-align: center;
          font-weight: 400;
        }
      }
    }

    .location-address {
      margin: 5px 0px 10px 0px;
      i {
        z-index: 0;
      }
    }

    .find-area {
      margin: 10px 0px;
    }
  }

  .search-box {
    transition: 0.5s;
    background-color: rgba(32, 32, 32, 0.637);
    padding: 30px 8vw;
    height: auto;
    text-align: center;
    font-family: IBMPlexSanLights;

    //Location-address
    .location-address {
      position: relative;
      width: auto;
      padding: 20px 0px;

      span {
        transition: 0.2s;
      }

      button {
        float: left;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }

    // Search-type
    .search-type {
      transition: 0.5s;
      padding: 0 0px;
      .ant-btn {
        padding: 0px 5px;
      }
    }

    // Choose Time
    .advanced {
      height: 50px;
      position: relative;
      right: 0px;
      color: whitesmoke;
      margin: 10px 0px;

      .btn-advanced {
        border-radius: 5px;
        float: right;
        padding: 7px;
        margin-right: 2%;
        font-size: 1rem;
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0);
        border: solid whitesmoke 1px;
      }
    }

    .choose-time {
      padding: 10px;

      .choose-shift {
        margin: 10px 0px;

        button {
          width: 65px;
          height: 65px;
          padding: 0px;
          margin: 10px 20px;
          text-align: center;
          border-radius: 50%;
          font-weight: 400;
        }
      }

      .choose-day {
        button {
          margin: 2px 5px;
        }
      }
    }
  }

  //Find Button
  .find-now {
    margin-top: 30px;
  }

  .choose-area {
    width: 100%;
    height: 400px !important;
  }

  .ant-modal-body {
    height: auto;
  }
}
